<label>Server name</label>


<!-- Two-Way binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">


<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<br>
{{allowNewServer}}

<p>{{ serverCreationStatus }}</p>
<app-server></app-server>

<hr>
<label>Username</label>
<!-- 2nd assignment -->
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-primary" 
[disabled]="username === ''"
(click)="username=''">Reset User</button>



